# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Dependencies
node_modules/

# TypeScript cache
*.tsbuildinfo

# Build output
dist

# dotenv
.env
.env.*
!.env.example

# IDE
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json
.idea

# OS
.DS_Store

# Prisma generated client
src/prisma/prismaClient/
generated/prisma

